body {
    background: lightgreen;
}

svg {
    width: 200px;
    height: 200px;
    /* background-color: lightcoral; */
    position: relative;
    animation: moveBox 2s infinite alternate;
    margin-top: 200px;
    margin-left: 200px;
    /* border-radius: 50%; */
}

/* .box:hover {
    background-color: lightskyblue;
    
    transition: 2s;
} */
 @keyframes moveBox {
    0% {
        /* transform: translateY(0); */
        transform: scale(1);
    }
    100% {
        /* transform: translateY(300px); */
        transform: scale(1.5) rotate(360deg);
        /* background-color: rgb(234, 51, 51); */
    }
 }