body {
    background: lightblue;
    text-align: center;
}

#mob {
    display: none;
}
#tab {
    display: none;
}

@media (min-width: 300px) and (max-width: 500px) {
    body {
        background: lightgreen;
    }
    #mob {
        display: block;
    }
    #desk{
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 1024px) {
    body {
        background: lightcoral;
    }
    #tab {
        display: block;
    }
    #desk {
        display: none;
    }
}
