body {
    background-color: rgb(48, 48, 48);
}
.main {
    border: 1px solid white;
    height: 600px;
    width: 600px;
    margin-left: 100px;
}

.box-one {
    width: 200px;
    height: 200px;
    background-color: blue;
    text-align: center;
    color: white;
}

.box-two {
    width: 200px;
    height: 200px;
    background-color: green;
    text-align: center;
    color: white;
}